*{
    margin-left: 0px;
}
.header,.nav-links,.intro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.header-container{
    background-image: url("../images/laern2.jpeg");
    background-size: cover;
}
.nav{
    margin-top: 20px; 

}
span{
    color: orange;
}
.user {
    margin-top: 20px;
    
}

.user a{
    margin: 20px;
    text-decoration: none;
    color: black;
    font-weight: 520;
    font-style:bold;
    color:rgba(0, 0, 0, 0.541);
}
.nav a{
    padding-left: 50px;
    text-decoration: none;
    color: black;
    font-weight: 520;
    font-style:bold;
    color:rgba(0, 0, 0, 0.541);
    
}
.logo{
    margin-left: 0px;
    display: flex;
    align-items: center;
    margin-top: 3%;
    
}
.logo img{
    height: 50px;
}
.logo h3{
    font-size: 30px;
    font-weight: 700;

}
#register{
    color: orange;
    padding: 10px 20px;
    border: 1px solid orange;
    
}

#register:hover{
    color: black;
    background-color: aqua;
}

.intro > img{
   height: 500px;
}

.intro {
    font-family:"Poppins";
    line-height: 1.5;
    

}
.intro > h1> span{
    font-size: 45px;
    font-weight: 500;
}
.intro > h1{
    font-size: 20px;
    font-weight: 400;
}

.spn2{
    color: blueviolet;
}